.page {
    position: relative;
}

.page__navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateX(-105%);
    transition: transform ease 0.3s;
}

.page__navigation--shown {
    transform: translateX(0);
}

.page-nav {
    box-sizing: border-box;
    width: 280px;
    min-height: 100vh;
    padding: 20px 0;
    background: yellowgreen;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
