.page {
    position: relative;
    min-height: 100vh;
}

.page__navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: 280px;
    padding: 20px 0;
    background: yellowgreen;
    transform: translateX(-100%);
    transition: transform ease 0.3s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}


.page__navigation--shown {
    transform: translateX(0);
}
