.paths-page__path {
    margin: 10px;
}

.paths-page__desc {
    font-size: 12px;
}

.paths__desc {
    font-size: 12px;
}

.path {

}

.path:hover {
    cursor: pointer;
    background: #e2ebff;
}

.path:active {
    background: #c3c5ff;
}
