<div class="paths-page">
    <md-content layout-padding flex>
        <md-subheader ng-bind="pathsPage.profession.displayName"></md-subheader>
        <p class="paths-page__desc" ng-bind="pathsPage.profession.description"></p>
    </md-content>

    <md-card class="paths-page__path path"
             ng-repeat="path in pathsPage.paths | filter:'recommended'"
             ng-click="pathsPage.loadDetails()"
    >
        <md-card-title>Rekomendowana droga</md-card-title>
        <md-card-content class="paths__desc">
            {{ path.description }}
        </md-card-content>
    </md-card>

    <md-card class="paths-page__path path"
             ng-repeat="path in pathsPage.paths | filter:'individual'"
    >
        <md-card-title>Indywidualna droga</md-card-title>
        <md-card-content class="paths__desc">
            {{ path.description }}
        </md-card-content>
    </md-card>

    <md-card class="paths-page__path path"
             ng-repeat="path in pathsPage.paths | filter:'fast'"
    >
        <md-card-title>Szybka droga</md-card-title>
        <md-card-content class="paths__desc">
            {{ path.description }}
        </md-card-content>
    </md-card>

</div>
